.color-change-box {
  display: inline-block;
  width: 120px;
  height: 84px;
  margin: 0 0 22px 22px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
}

.color-change-box-label {
  color: #444;
  margin: 9px;
  font-family: monospace;
  font-size: 12px;
}

.btn-selected {
  border-width: 2px;
  padding: 5px 11px;
  font-weight: bold;
  color: #fff;
  text-shadow: 1px 1px 2px black;
}

.btn-color {
  width: 114px;
  height: 40px;
}

.remove-container {
  margin: 4px 0 0 0;
}

.btn-remove {
  color: #fff;
  background-color: #ccc;
  font-weight: bold;
  height: 20px;
  text-align: center;
  line-height: 0.528571;
  float: right;
  margin: -9px -5px 6px 0;
  width: 23px;
  padding: 0;
}
